@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
}
.padding{
    padding-bottom: 2rem;
}
.navbar {
    padding: .8rem;
    top: 0;
    position: fixed;
    width: 100%;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    text-shadow: 1px 1px 5px #fff;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 94%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.social a {
    font-size: 4.5em;
}
.fa-facebook-f {
    color: #3b5998;
}
.fa-instagram {
    color: #dd2a7b;
}
.fa-github {
    color: black;
}
.fa-linkedin {
    color: #0077B5;
}
.fa-heart {
    color: #a83f39;
}
.fa-python {
    color: #4b8bbe;
}
.fa-smile-wink {
    color: #fb8c00;
}
.fa-download {
    font-size: 4.5em;
    padding: 1rem;
    color: #212121;
}
.fa-facebook-f:hover,
.fa-instagram:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-download:hover {
    color: #d5d5d5;
}
footer hr{
    height: 1px;
    color: whitesmoke;
    background-color: whitesmoke;
    border: none;
    width: 90%;
}
section {
    padding-top: 90px;
}
.heading {
    font-size: 55px;
}


/*---Media Queries --*/
@media (max-width: 992px) {
    .carousel-caption h1{
        font-size: 80px;
    }
    .carousel-caption h3{
        font-size: 25px;
    }
}
@media (max-width: 768px) {
    .carousel-caption h1{
        font-size: 65px;
    }
    .carousel-caption h3{
        font-size: 25px;
    }
    .heading {
        font-size: 45px;
    }
}
@media (max-width: 576px) {
    .carousel-caption h1{
        font-size: 40px;
    }
    .carousel-caption h3{
        font-size: 15px;
    }
    .navbar-brand h1{
        font-size: 30px;
    }
    .heading {
        font-size: 35px;
    }
    .fa-download {
        font-size: 2.7em !important;
        padding: 1rem;
        color: #212121;
    }
    .social a {
        font-size: 3.5em;
    }
    footer h2{
        font-size: 30px;
    }
    footer h4{
        font-size: 20px;
    }
    section {
        padding-top: 75px !important;
    }
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}






/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/